/*
Copyright (C) 2020-2022 Yu Wan <wanyuac@126.com>
Licensed under the GNU General Public License v3.0
Publication: 16 June 2022; latest update: 11 March 2023
*/

params {
    fastq = "*_{1,2}.fastq.gz"  // Paired FASTQ files taken as input
    outdir = "outputs"  // Output directory for assemblies
    queueSize = 10  // Number of concurrent jobs submitted to the PBS
    cpus = 8
    mem = 10  // Memory allocation in GB
    assembler = "unicycler"
    spades_mode = "isolate"  // Or "careful". Do not add '--' in front of the value as it will be interpreted as an option of the pipeline and causes an error.
    spades_kmers = "21,33,55,77"  // For read lengths below 250 bp (github.com/ablab/spades#sec3.4)
    conda_unicycler = "unicycler0.5.0"
    conda_spades = "spades3.15"
}

executor {
	$local {
		cpus = params.cpus
		memory = "${params.mem} GB"
	}
    
    $sge {
        queueSize = params.queueSize
    }

    $pbs {
        queueSize = params.queueSize
    }
}

profiles {
	standard {
		process.executor = "local"
	}
    
    sge {
        process {
            executor = "sge"
            clusterOptions = "-N Assembly"
            clusterOptions = "-pe multithread ${params.cpus}"
            time = "24h"
            errorStrategy = "retry"
            maxRetries = 2
        }
    }

    pbs {
        process {
            executor = "pbs"
            clusterOptions = "-N Assembly"
            clusterOptions = "-l select=1:ncpus=${params.cpus}:mem=${params.mem}gb:ompthreads=${params.cpus}"
            time = "24h"
            errorStrategy = "retry"
            maxRetries = 2
        }
    }
}

manifest {
    homePage = "https://github.com/wanyuac/Assembly_toolkit"
    description = "Assemble paired-end short reads using Unicycler or SPAdes."
    mainScript = "run_assembly.nf"
    version = "0.0.1"
}
